body{
    display: flex;
    justify-content: center;
    font-family: 'LeeSeoyun';
    align-items: center;
    height: 100vh;
    background-color: #d7ebc8;
    flex-direction: row;
    flex-wrap: wrap;
}
.container{
    display:flex;
    flex-direction: column;
    gap: 15px;
    width:400px;
    min-height: 300px;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    padding:20px;
}
.header{
    display: flex;
    justify-content: space-between;
}
@font-face {
    font-family: 'LeeSeoyun';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/LeeSeoyun.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#add-todo{
    all:unset;
    cursor: pointer;
    text-decoration: underline;
}

input {
    font-family: 'LeeSeoyun';
    text-decoration: underline;
    background: inherit;
    border: none;
    color: white;
    font-size: 16px;
    outline: none;
}
.todo-item:has(input[type="checkbox"]:checked){
    opacity: 0.7;
}

input[type="checkbox"]:checked + input {
    text-decoration: line-through;
    opacity: 0.7;
}

.todo-item{
    display: flex;
    gap:10px;
    margin-bottom: 20px;
    background-color: black;
    padding:20px;
    border-radius: 10px;
    justify-content: space-evenly;
    cursor: pointer;
}
.todo-item:hover{
    border:3px solid white;
}
.todo-list{
    flex-direction: column;
    grid-template-columns: repeat(3,1fr);
}